
  .about-container {
    padding: 0px;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Ajusta según tus necesidades de centrado vertical */
  }
  
  .about-item {
    position: relative;
    text-align: justify;
  }