.services-container {
    padding: 0px;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Ajusta según tus necesidades de centrado vertical */
  }
  .services-item {
    position: relative;
    text-align: justify;
    /* Otros estilos según sea necesario */
  }